<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Treinadores cadastrados</h1>
    {% for treinador in treinadores %}
    <ul>
        <li>{{ treinador.nome }}</li>
        <li>{{ treinador.height }}</li>
        <li>{{ treinador.weight }}</li>
        <a href="{% url 'deletar_treinador' treinador.id %}">Deletar</a>
        <a href="{% url 'atualizar_treinador' treinador.id %}">Atualizar</a>
    </ul>
    {% endfor %}
    <a href="{% url 'criar_treinador' %}">Criar treinador</a>
</body>
</html>