<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Pokemon cadastrados</h1>
    {% for pokemon in pokemons %}
    <ul>
        <li>{{ pokemon.nome }}</li>
        <li>{{ pokemon.height }}</li>
        <li>{{ pokemon.weight }}</li>
        <a href="{% url 'deletar_pokemon' pokemon.id %}">Deletar</a>
        <a href="{% url 'atualizar_pokemon' pokemon.id %}">Atualizar</a>
    </ul>
    {% endfor %}
    <a href="{% url 'criar_pokemon' %}">Criar pokemon</a>
</body>
</html>